
{% extends "memory/base.html" %}
{% load static %}


{% block main %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">

<h1>{{ item.question }}</h1>
<h2>{{ item.answer }}</h2>
<h2>{{ item.get_priority_display }}</h2>

<div class="row">

	<!-- x,y tuple is like MAITRISE, u"maitrisé" avec MAITRISE = MAI -->
	{% for x,y in priority_scale %}
		<!-- if the priority status of the item match the current loop in priority scale list => button should be red -->
	    {% if x == item.priority  %}
	    	<div class="col-xs-2">
	    	    <a href=""><button class="btn btn-danger">{{y}}</button></a>
	    	</div>
	    {% else %}
	        <div class="col-xs-2">
	             <a href=" {% url 'memory:change_priority' mem_id=item.id new_priority=x %}">
	            	<button class="btn btn-primary">{{y}}</button></a>
	        </div>
	    {% endif %}
	{% endfor %}
</div><br>
<div class="row">

	<div class="col-xs-8">
	    <a href="{% url 'memory:suppr' item.id %} "><button class="btn btn-danger">Supprimer</button></a>
    </div>
</div><br>

<div class="row">
    <form action="{% url 'memory:add' %}" method="post" > 

	    {% csrf_token %}
		
	    <div class="row">
		    <div class="col-xs-2">
		        <input type="text" name="question" value="mot à mémoriser">
		    </div>
		</div><br>

	    <div class="row">
		    <div class="col-xs-2">
		        <input type="text" name="answer" value="traduction">
		    </div>
	    </div><br>

		<div class="row">
		    <div class="col-xs-4">
			    <select class="form-control" name="priority" >
			        {% for x,y in priority_scale %}
			            <option>{{y}}</option>
				    {% endfor %}
			    </select>
		    </div>
	    </div><br>
        <input type="submit" value="Ajouter" class="btn btn-danger" />
    </form>
</div>

{% endblock %}
