Trainer 


Model

Class Item(object):
    question =
    answer =
    priority = defaut 5


templates

add.html

	<form action="post">
	input text
	input radio (numbers de 1 à 6)
	input submit

	</form>	
	input text



display.html

	<p>item.question</p>
	<p>item.priority</p>
	<p>item.answer</p>
	{% for x in [1:6] %}
			<a href=" {% url "" question.priority+{forloop} %}">{{forloop}} </a>
	{% endfor %}



views

	def add(request, question, answer, priority):
		item = Item (question, answer, priority)
		

	def display(request):
		random 1,5
		item = get(Item, prioryty = 5)
		item = random

		return render(request, app2/display.html, item : item )





